* {
    background-color: black;
}

header {
    font-size: x-large;
    text-decoration: line-through;
    color: goldenrod;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}

.box {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
    margin: 25px;
    padding: 5px;
    border: 12px solid goldenrod;
    background-color: gold;
    width: 400px;
    height: 300px;
    

}